<div class="filters" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="20px">
  <div class="criteria" color="primary" [class]="{'active': jobsService.filters.active}" (click)="clickFilter('active')">Actives</div>
  <div class="criteria" color="primary" [class]="{'active': jobsService.filters.inactive}" (click)="clickFilter('inactive')">Inactives</div>
</div>
