:host {
  width: 100%;
}

.filters {
  padding: 5px 20px;
  border-bottom: 1px solid #cccccc;
  
  .criteria {
    font-size: small;
    border-radius: 5px;
    background: #cccccc;
    color: white;
    padding: 5px;
    cursor: pointer;

    &.active {
      background: green;
      color: white;
    }
  }
}
