<!-- ToolBar -->
<mat-toolbar color="primary">
  <span>Jobs</span>
</mat-toolbar>

<!-- Filter -->
<div class="filters" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="20px">
  <app-filters (toggleFilter)="toggleFilter($event)"></app-filters>
</div>

<!-- Content -->
<div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="10px">

  <div class="content" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="30px" fxLayoutAlign="center">
    <!-- List Panel -->
    <div class="list" fxFlex="100%" fxLayoutWrap fxLayout="column" fxLayout.xs="column" >
      <app-job-list [jobs]="jobsFiltered" (openJob)="openJob($event)"></app-job-list>
    </div>
    
    <!-- Detail Panel -->
    <div class="detail" fxFlex="60%" fxLayoutWrap *ngIf="jobsService.selectedJob">
      <app-job-detail (closeJob)="closeJob()"></app-job-detail>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
