
.container {
  margin: 20px 20px 0;
  height: calc(100vh - 120px);

  .content {
    .list {
      height: calc(100vh - 125px);
      overflow: auto;
    }

    .detail {
      height: calc(100vh - 125px);
      overflow: auto;
    }
  }
}


/* Responsive Styles */
@media screen and (max-width: 767px) {

  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }
}

@media screen and (max-width: 575px) {
}
