<mat-list
  class="item"
  fxLayoutWrap
  fxLayoutGap="10px"
  (click)="clickJob(job)"
  *ngFor="let job of jobs; let i = index"
  [class]="{'active': jobsService.selectedJob && jobsService.selectedJob.id === job.id }"
>
  <mat-list-item> {{ job.title }} </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
