<div class="job" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="30px" *ngIf="jobsService.selectedJob" >

  <!-- Job Header -->
  <div class="job__header" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" >
    
    <div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="end">
      <h3 class="job__header__title"> {{ jobsService.selectedJob.title }} </h3>
    </div>
    
    <div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="end">
      <small class="job__header__close" (click)="clickClose()">[Close]</small>
    </div>
  </div>

  <!-- Job Location -->
  <div class="job__header" fxLayout="column" fxLayout.xs="column" fxLayoutGap="10px" >
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="10px" >
      <div> {{ jobsService.selectedJob.city || 'No city provided' }} </div>
      <div> {{ jobsService.selectedJob.zip_code || '' }} </div>
    </div>
  </div>

  <!-- Job Description -->
  <div class="job__description" fxLayout="column" fxLayout.xs="column" fxLayoutGap="10px" >
    <div>
      Description:
    </div>
    <mat-divider></mat-divider>
    <div> {{ jobsService.selectedJob.description }} </div>
  </div>

  <!-- Job Attachments -->
  <div class="job__attachments" fxLayout="column" fxLayout.xs="column" fxLayoutGap="10px" >
    <div>Attachements:</div>
    <mat-divider></mat-divider>
    <div class="job__attachments__img_container" fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="center">
      <img class="img__attach" src="{{ attachment }}" alt="" *ngFor="let attachment of jobsService.selectedJob.attachments;" />
    </div>
  </div>
</div>
