.job {
  .job__header {
    .job__header__title {
      margin: 0;
    }

    .job__header__close {
      position: absolute;
      right: 20px;
      cursor: pointer;
    }
  }

  .img__attach {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
  }

  .job__attachments__img_container {
    overflow-x: auto;
  }
}
